<!DOCTYPE html>
<html lang="en" ng-app="gigglClient">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>giggl</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-socket-io/0.7.0/socket.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script src="assets/js/material-kit.js"></script>
    <script src="assets/js/material.min.js"></script>
    <script src="assets/js/jquery.nouislider.js"></script>
    <script src="assets/js/nouislider.ng.js"></script>
    <script src="assets/js/config.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers/clientController.js"></script>
    <script src="assets/js/services/socketService.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/material-kit.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="app-container" ng-controller="clientController">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">giggl</div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container-fluid">
            <div class="row">
                <div class="current col-xs-12">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <span ng-if="current == null || current.id == null">
                            <h3 class="text-danger">No song queued!</h3>
                        </span>
                        <span ng-if="current.id != null">
                            <h3 ng-if="playing" class="text-success">Playing:</h3>
                            <h3 ng-if="!playing" class="text-danger">Paused:</h3>
                            <p>{{current.info.title}} ({{current.display}}/{{prettyLength(current.info.duration)}})
                            <button ng-click="share()" id="shareButton" style="float: right;">Share</button>
                            <input title="click to copy" id="shareLink" type="text" readonly="readonly"
                                   ng-model="shareLink"
                                   hidden ng-click="copyLink()"></p>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="col-sm-8 col-xs-12">
                            <button ng-if="!playing" class="btn btn-primary" ng-click="play(true)">
                                <i class="fa fa-play"></i>
                            </button>
                            <button ng-if="playing" class="btn btn-primary" ng-click="play(false)">
                                <i class="fa fa-pause"></i>
                            </button>
                            <button class="btn btn-primary" ng-click="skip()">
                                <i class="fa fa-forward"></i>
                            </button>
                            <button ng-if="playlistMode" class="btn btn-success" title="Repeat" ng-click="setPlaylistMode(false)">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button ng-if="!playlistMode" class="btn btn-secondary" title="Repeat"
                                    ng-click="setPlaylistMode(true)">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button ng-if="shuffle" class="btn btn-success" title="Shuffle" ng-click="setShuffle(false)">
                                <i class="fa fa-random"></i>
                            </button>
                            <button ng-if="!shuffle" class="btn btn-secondary" title="Shuffle"
                                    ng-click="setShuffle(true)">
                                <i class="fa fa-random"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div slider ng-model="volume" start=1 end=100 class="slider"></div>
                        </div>
                    </div>
                </div>
                <div class="add col-xs-12">
                    <div class="form-group">
                        <form ng-submit="add()">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="url" ng-model="new">
                                <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="title" ng-model="search">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" ng-click="clearSearch()">Clear</button>
                                </span>
                            </div>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="searchResult in searchResults">
                                    <div ng-click="addById(searchResult.id.videoId)" class="md-list-item-text">
                                        <h4>{{searchResult.snippet.title}}</h4>
                                        <p>{{searchResult.snippet.channelTitle}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </form>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <form>
                                <input type="file" class="form-control" placeholder="<empty>" id="loadedFile"/>
                                <button ng-click="selectFile()">Choose File</button>
                            </form>
                        </div>
                        <div>
                            <button class="btn btn-success" ng-click="loadFile()">Load</button>
                            <button ng-if="autoPlayId === -1"
                                    class="btn btn-secondary"
                                    ng-click="autoPlay()"
                            >
                                AutoPlay
                            </button>
                            <button ng-if="autoPlayId > -1"
                                    class="btn btn-success"
                                    ng-click="stopAutoPlay()"
                            >
                                AutoPlay
                            </button>
                            <div>{{loadStatus}}: {{additions}} / {{counter}}</div>
                        </div>
                    </div>
                </div>
                <div class="playlist col-xs-12">
                    <table class="table">
                        <tr ng-repeat="item in list">
                            <td>{{$index + 1}}</td>
                            <td>{{item.info.title}} ({{prettyLength(item.info.duration)}})</td>
                            <td>
                                <button class="btn btn-danger btn-sm" type="button" ng-click="remove($index)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p class="footer">
        Built for <a href="http://ituk.ee">ITÜK</a> with
        <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i>
    </p>
</div>
</body>
</html>
